@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    ;
}

* {
    margin: 0;
}

header {
    background-image: url(../images/donation1.jpg);
    width: 100%;
    /* height:px; */
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 669px;
}

.header-title {
    color: #FFFFFF;
    font-size: 65px;
    font-weight: bold;
    width: 826px;
    text-align: center;
    margin-bottom: 20px;
}

.header-description {
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    width: 691px;
    margin-bottom: 30px;
}

.header-btn {
    width: 160px;
    height: 56px;
    background-color: #FF5959;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;

}

.header-container a {
    text-decoration: none;
    color: #FFFFFF;
}

.main-first-container {
    width: 100%;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-first-title {
    width: 304px;
    height: 54px;
    font-size: 45px;
    font-weight: bold;
    color: #121212;
    margin-bottom:20px;
}

.main-first-description {
    width: 991px;
    height: 56px;
    font-size: 18px;
    color: #707070;
    text-align: center;
}

.main-amount-container {
    display: flex;
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    margin-top:30px;
    gap:22px;
    margin-bottom:60px;
    
}

.amount-container {
    width: 135px;
    height: 123px;
    border-radius: 5px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid lightcyan;
    
}
.border{
    border: 2px solid #FF5959;
    background-color:#FFEEEE ;
}
.amount{
    font-size:30px;
    font-weight: bold;
    color:#707070;
}
.parent-div-main-last{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.parent-div-main-last a{
    text-decoration: none;
    color:#FFFFFF;
    display: flex;
    align-items: center;
    margin-bottom:130px;
    
 
}


.main-first-last{
    width:45%;
    border-bottom: 2px solid #B3B3B3;
    display: flex;
    justify-content: center;
    margin-bottom:25px;
}
.other-amount{
    width:192px;
    height:28px;
    font-size:18px;
    color:#B3B3B3;

    
}
.second-sec-first-title{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-sec-main-title{
    width:357px;
    height: 54px;
    font-size: 45px;
    font-weight: bold;
    color:#121212;
    margin-bottom:20px;
}
.second-sec-description{
    width:691px;
    height:56px;
    font-size:18px;
    color:#707070;
    text-align: center;

}

.second-sec-card{
    display:flex;
    justify-content: center;
    /* flex-direction: column; */
    gap:24px;

}
.second-sec-first-card{
    width:360px;
    height:352px;
    border-radius: 5px;;
}
.card-photo{
    width:58.13px;
    height:49.77px;
    margin-bottom:31px;
    margin-top:63px;
    margin-left:23px;
}
.card-main-title{
    width:250px;
    height: 36px;
    font-size: 24px;
    font-weight: 700;
    color:#121212;
    margin-bottom:16px;
    margin-left:23px;
}
.card-description{
    width:330px;
    height: 101px;
    font-size: 16px;
    color:#707070;
    margin-top:0px;
    margin-left:23px;
}
.light-tomato{
    background-color: #f0a9a9;
}
.light-blue{
    background-color: #abd9df;
}
.bisque{
    background-color: bisque;
}
.third-sec-container{
    margin-top:130px;
    width:100%;
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    margin-bottom:130px;
}
.third-sec-main-content{
    display:flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid red; */
    gap:50px;
    width:100%;
 
}
.third-sec-title{
    width:493px;
    height:374px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.third-sec-main-title{
    width:492px;
    height:106px;
    font-size:45px;
    font-weight:700;
    color:#121212;
    margin-bottom:20px;
    margin-top:10px;
}
.third-sec-first-description{
    width:482px;
    height:84px;
    font-size: 16px;
    color:#707070;
    margin-bottom: 40px;
}
.third-sec-second-description{
    width:482px;
    height:84px;
    font-size: 16px;
    color:#707070;
    margin-bottom: 20px;
}

.third-sec-photo{
    display:flex;
    justify-content: center;
    align-items: center;
}
.third-sec-main-photo{
    width:456px;
    height: auto;
    border-radius: 5px;
    
}
.third-sec-title a{
    text-decoration: none;
    width:230px;
    height:100px;
    background-color: #FF5959;
    color:#FFFFFF;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media screen and (max-width: 576px) {
    .header {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .header-title {
        width: 100%;
    }

    .header-description {
        width: 100%
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header-title {
        width: 100%;
    }

    .header-description {
        width: 100%
    }
}
@media screen and (max-width: 576px) {
    .main-first-sec{
        display:flex;
        flex-direction: column;
    }
    .main-first-container{
        width:100%;
    }
    .main-first-title{
        width:100%;
        text-align: center;
    }
    .main-first-description{
        width:100%;
        margin-bottom: 50px;
    }
    .main-amount-container{
        width:100%;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        /* display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         */
    }
}
@media screen and (min-width: 576px) and (max-width: 992px){
    .main-first-sec{
        display:flex;
        flex-direction: column;
    }
    .main-first-container{
        width:100%;
    }
    .main-first-title{
        width:100%;
        text-align: center;
    }
    .main-first-description{
        width:100%;
        margin-bottom: 50px;
    }
    .main-amount-container{
        width:100%;
        display:grid;
        grid-template-columns: repeat(3, 2fr);
        text-align: center;
        justify-content: center;
        align-items: center;
        /* display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         */
    }
    .amount-container{
        display:grid;
        /* grid-template-columns: repeat(2, 1fr); */
        /* display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    /*  */
    }
    .main-first-last{
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
}
@media screen  and (max-width:576px){
    .second-sec-card{
        display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
    }
    .second-sec-description{
        width:90%;
        margin-bottom:30px;
    }
    .card-main-title{
        width:100%;
        margin:0px;
        margin-bottom:16px;
    }
    .card-description{
        width:100%;
        margin:0;
    }
    .card-photo{
        margin-bottom:31px;
        margin-top:63px;
    }
}
@media screen  and (min-width:577px) and (max-width:992px){
    .second-sec-card{
        display:grid;
    grid-template-columns: repeat(2, 1fr);
    width:100%;
    }
    .second-sec-description{
        width:90%;
        margin-bottom:30px;
    }
    .card-main-title{
        width:100%;
        margin:0px;
        margin-bottom:16px;
    }
    .card-description{
        width:100%;
        margin:0;
    }
    .card-photo{
        margin-bottom:31px;
        margin-top:63px;
    }
}
@media screen and (max-width:576px){
    
    .third-sec-main-content{
        width:100%;
    display:flex;
    flex-direction: column;
       justify-content: center;
    }
    .third-sec-container{
        
        width:100% ;
        display:flex;
        flex-direction: column-reverse;
        justify-content:center;
        align-items:center;
    }
    
    .third-sec-main-photo{
        width:100%;
    }
    .third-sec-main-title{
        width:100%;
        display:flex;
        
    }
    .third-sec-title{
        width:100%;
        text-align: center;
      
    }
    .third-sec-first-description{
        width:100%;
        text-align: center;
        height: 100%;
        margin-bottom:0px;
    }
    .third-sec-second-description{
        width:100%;
    }
    .third-sec-photo{
        width:100%;
        display:flex;
        flex-direction: column-reverse;
    }
    body{
        overflow-x: hidden;
    }
}
@media screen and (min-width:576px) and (max-width:992px){
    .third-sec-main-content{
        width:100%;
    display:flex;
        flex-wrap:wrap;
    }
    .third-sec-container{
        
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .third-sec-main-photo{
        width:100%;
    }
    .third-sec-main-title{
        width:100%;
        margin-bottom:100px;
    }
    .third-sec-title{
        width:100%;
        text-align: center;
    }
    .third-sec-first-description{
        width:100%;
        text-align: center;
        height: 100%;
        margin-bottom:0px;
    }
    .third-sec-second-description{
        width:100%;
    }
}